environment: dev
replicaCount: 1

deploymentStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 1
    maxSurge: 0

image:
  repository: local/account-service
  tag: "latest"
  pullPolicy: IfNotPresent

containerPort: 8080

service:
  type: ClusterIP
  port: 8080

env:
  APP_SECURITY_ENABLED: "false"
  SPRING_DATASOURCE_URL: "jdbc:postgresql://host.minikube.internal:5433/accounts_db"
  SPRING_DATASOURCE_USERNAME: "bank_admin"
  SPRING_DATASOURCE_PASSWORD: "bank_admin_pass"
  SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: "http://host.minikube.internal:8081/realms/banking"
  MANAGEMENT_ZIPKIN_TRACING_ENDPOINT: "http://host.minikube.internal:9411/api/v2/spans"

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 768Mi

probes:
  liveness:
    enabled: true
    path: /actuator/health/liveness
    initialDelaySeconds: 20
    periodSeconds: 10
  readiness:
    enabled: true
    path: /actuator/health/readiness
    initialDelaySeconds: 15
    periodSeconds: 10

networkPolicy:
  enabled: true
  ingressFromSameNamespaceOnly: true

labels: {}
